Package: com.mattcmultimedia.openonsearch
Name: OpenOnSearch
Depends: mobilesubstrate
Version: 1.1.0
Architecture: iphoneos-arm
Description: open spotlight result on search
Maintainer: MattCMultimedia
Author: MattCMultimedia
Section: Tweaks
